
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<body>
<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(rolesList)}">
        </div>
    </nav>
</div>
<div class="container">
    <h1>Admin Dashboard</h1>
    <h2>Roles</h2>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Name</td>
        </tr>
        </thead>
        <tr th:each="role : ${rolesList}">
            <td th:text="${role.id}"/>
            <td th:text="${role.name}"/>
        </tr>
    </table>
</div>
</body>
</html>